<section class="section">
  <h1 class="title">Scheduler on Rails</h1>
  <h2 class="subtitle">Follow your rhythm</h2>
  <% if user_signed_in? %>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>00:00</th>
        </tr>
        <tr>
          <th>01:00</th>
        </tr>
        <tr>
          <th>02:00</th>
        </tr>
        <tr>
          <th>03:00</th>
        </tr>
        <tr>
          <th>04:00</th>
        </tr>
        <tr>
          <th>05:00</th>
        </tr>
        <tr>
          <th>06:00</th>
        </tr>
        <tr>
          <th>07:00</th>
        </tr>
        <tr>
          <th>08:00</th>
        </tr>
        <tr>
          <th>09:00</th>
        </tr>
        <tr>
          <th>10:00</th>
        </tr>
        <tr>
          <th>11:00</th>
        </tr>
        <tr>
          <th>12:00</th>
        </tr>
        <tr>
          <th>01:00</th>
        </tr>
        <tr>
          <th>02:00</th>
        </tr>
        <tr>
          <th>03:00</th>
        </tr>
        <tr>
          <th>04:00</th>
        </tr>
        <tr>
          <th>05:00</th>
        </tr>
        <tr>
          <th>06:00</th>
        </tr>
        <tr>
          <th>07:00</th>
        </tr>
        <tr>
          <th>08:00</th>
        </tr>
        <tr>
          <th>09:00</th>
        </tr>
        <tr>
          <th>10:00</th>
        </tr>
        <tr>
          <th>11:00</th>
        </tr>
        <tr>
          <th>12:00</th>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>


